
.jost-400 {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: "Jost", sans-serif;
}

#navigation_tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#navigation_tabs ul li{
    float: left;
}

#navigation_tabs ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation_tabs ul li a:hover{
    background-color: rgb(53, 186, 231);
}


/* events page */

.scroll_container{
    background-color: gray;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    
    height: 150px;
}

.scroll_container .card{
    display: inline-block;
    width: 250px;
    min-height: 100px;
    margin-right: 10px;
    padding: 15px;

    background-color: white;
    border-radius: 8px;
    vertical-align: top;
    white-space: normal;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    justify-content: start;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #291d60;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
}

.box img{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}


/*User preferences page */

#profile{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0;

    position:relative;

    border-radius: 10px;
    border: 2px;

    height: 100px;
    width: auto;

    background-color: rgb(239, 239, 239);
}

#profile img{
    padding: 10px 10px;
    margin: 10px;
    width: 75px;
    height: auto;
    border-radius: 50%;
}

#profile_text{
    text-align: left;
    margin: 40px;

}

button{

    height: 30px;
    width: 100px;

    border-radius: 5px;
    border: 5px;

    color: rgb(255, 255, 255);
    background-color: rgb(65, 153, 253);
}

button#edit_picture{
    position: absolute;
    top: 40px;
    right: 20px;

}

#bio_wrapper{
    position: relative;
    width: 400 px;
}

#bio{
    height: 80px;
    width: 100%;
    box-sizing: border-box;

    border-radius: 8px;
    border: 2px solid rgb(195, 193, 193);
    outline: none;
    
    color: black;
    background-color: rgb(239, 239, 239);

    padding: 12px 12px 24px 12px;
    font-family: inherit;
    font-size: 15px;
    resize: none;
}

#bio_counter{
    position: absolute;
    bottom: 8px;
    right: 12px;
    font-size: 12px;
    color: rgb(150,150,150);
}

button#save_profile{
    
}

