
#navigation_tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#navigation_tabs ul li{
    float: left;
}

#navigation_tabs ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation_tabs ul li a:hover{
    background-color: rgb(53, 186, 231);
}

#texty{
    color: blue;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  justify-content: space-evenly;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #601d1d;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
